body{
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "principal principal principal"
    "principal principal principal"
    "principal principal principal";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

 }

 body{
    background: url(imagens/undo.png) center center no-repeat fixed;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-background-size:cover ;
    height: 100%;
    width: 100%;
 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "principal"
    "principal"
    "principal"
    "principal";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    
    }
}


body  a{
    text-decoration: none;
    background-color: rgb(196, 118, 206);
    border-radius: 5px;
    color: rgb(247, 239, 175);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    align-items: center;
    position: relative;
    right: 10%;
    top: 90%;

    
}

body div{
    height: 500px;
    width: 500px;
    position: relative;
    right: 10%;
    top: 40%;
    background-color: rgb(203, 166, 238); 
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 30%;
    border-radius: 20px;

}

input{
    margin: 8px;
    position: relative;
    top: 5%;
}

.paleta{
    position: relative;
    right: 300px;
    top: 50px;
}

.confirmação{
   font-size: small;
   position: relative;
   top: 10%;
   left: 10px;

}

h3{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(102, 102, 101);
}


