body{
    background-color:rgb(198, 127, 216);
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "principal principal principal"
    "principal principal principal"
    "principal principal principal";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "principal"
    "principal"
    "principal"
    "principal";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }
}

img{
    background-size: cover;
    height: 100%;
    width: 100%;
}

header{
    grid-area: cabeca;
    background-color:rgb(198, 127, 216);
}


main{
    grid-area: principal;
    background-color: rgb(224, 160, 224);
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 500px;
    justify-content: center;
    width: 400px;
    height: 480px;
    padding: 60px;
    position: relative;
    left: 30%;
    top: 25%;
}
 
/* .painel{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: rgb(145, 175, 209);
    transition: 1s;
} */


main nav a{
    text-decoration: none;
    background-color: rgb(196, 118, 206);
    border-radius: 5px;
    color: rgb(247, 239, 175);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    position: absolute;
    bottom: 15%;
    right: 37%;
    align-items: center;

    
}
 main div{
    height: 300px;
    width: 300px;
    padding: 3px;
    position: relative;
    bottom: 90%;
    left: 10%;
    color: rgb(217, 218, 178);
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.confirmação{
   font-size: small;
   position: relative;
   top: 50px;
   left: 30px;

}

h3{
    font-family:cursive;
    font-size: xx-large;
    position: relative;
    bottom: 100%;
    color:rgb(252, 253, 186);
    border:5px rgb(230, 224, 148) ;
    border-radius: 2px;
    background-color: rgb(205, 157, 218);
}

footer{
    grid-area:rodape;
    background-color: rgb(198, 127, 216);

}