body{
    background-color:rgb(198, 127, 216);
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }
}

header{
    grid-area: cabeca;
    background-color:rgb(198, 127, 216);
}


main{
    grid-area: principal;
    background-color:rgb(228, 228, 157);
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 500px;
    justify-content: center;
    width: 400px;
    height: 480px;
    padding: 60px;
    position: relative;
    left: 30%;
    top: 30%;
}
 
/* .painel{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: rgb(145, 175, 209);
    transition: 1s;
} */


main nav a{
    text-decoration: none;
    background-color: rgb(196, 118, 206);
    border-radius: 5px;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    position: relative;
    top: 70px;
    
}
 main div{
    height: 300px;
    width: 300px;
    padding: 3px;
    box-sizing: 60px;    
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.confirmação{
   font-size: small;
   position: relative;
   top: 50px;
   left: 30px;

}

h3{
    font-family:cursive;
    font-size: xx-large;
    position: relative;
    color:rgb(146, 115, 56);
    border:2px whitesmoke ;
    border-radius: 2px;
    background-color: rgb(238, 207, 142);
}

footer{
    grid-area:rodape;
    background-color: rgb(198, 127, 216);

}