/* divisao grid */
.body{
    background-color:rgb(109, 169, 177);
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }

 /* fim divisao grid */
 /* responsividade */
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }
}
/* fim responsividade */

header{
    grid-area: cabeca;
    background-color: plum;
}
main{
    grid-area: principal;
    background-color: rgb(238, 230, 238);
    padding: 60px;
    margin: 4px;
    

}
 
.estojo{
    width: 300px;
    height: auto;

}

.cora{
    width: 30px;
    height: auto;
}

.cao{
    width: 30px;
    height: auto;
}

footer{
    grid-area:rodape;
    background-color: rgb(175, 175, 248);
}