*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "secundaria principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

 }  
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    
    }
}

header{
    grid-area: cabeca;
    color:rgba(253, 242, 242, 0.699);
    display: flex;
    background-color: plum;
}

header li{
    text-decoration: none;
    background-color: darkviolet;

}

header a{
    height: 30px;
    width: 90px;
    text-decoration: none;
    background-color: rgb(182, 180, 184);
    color: rgb(109, 34, 128);
    margin: 3px;
    position: relative;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    left: 957px;
    top: 70px;
    border-radius: 10px;
    display: flex;
}

header h2{
    position: relative;
    right: 60px;
    top: 30px;
    font-size: x-large;
}

main a{
   text-decoration: none;
   color:mediumpurple;
   background-color: gainsboro;
   border-radius: 5px;
}

.home{
    width: 40px;
    height: 40px;
    position: relative;
    left: 800px;
    top: 60px;
}


.logotipo{
    position: relative;
    right: 125px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 90px;
}

 main p{
    position: relative;
    top: 1%;
    right: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

aside{
    grid-area: secundaria;
    background-color: rgb(243, 226, 205);
}

.menu{
    width: 40px;
    height: 40px;
    position: relative;
    right: 180px;
    top: 70px;
}

 aside ul{
    list-style: none;
    position: absolute;
    top: 70px;
    width: 100%;
}

li{
    text-decoration: none;
}

input[ type="checkbox"]{
    display: none;
}

 aside nav{
    background-color: plum;
    width: 350px;
    height: 100%;
    left: -350px;
    position: relative;
}

 aside a{
    text-decoration: none;
    background-color: plum;
    display: block;
    padding: 20px 5px;
    color: rbg(111,129,141);
}

 aside a:hover{
    background-color: rgb(152, 152, 226);
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

input[type="checkbox"]:checked ~ nav 
{
    transform: translateX(350px);
}

main{
    grid-area: principal;
    background-color: rgb(238, 230, 238);
    padding: 60px;
    margin: 0%;
}

.estojo{
    width: 500px;
    height: 450px;
    border-radius: 2px;
    background-color: rgb(158, 177, 177);
    text-align: center;
    justify-content: center;
    margin: 20px;
    align-items: center;
    padding: auto;

}

.esto{
    width: 200px;
    height: 240px;
    border-radius: 2px;
    border: rgb(155, 223, 223);
    position: relative;
    left: 23%;
}

main h3{
    color: rbg(180, 54, 100);
    background-color: beige;
    border: 5px;
    padding: 10px;
}
main nav{
    position: relative;
    left: 3%;
}

main nav a{
    text-decoration: none;
    color: rbg(180,54,100);
    border-radius: 3px;
    padding: 5px;
}

main nav a:hover{
    color: blueviolet;
    transition: 3s;
    background-color: rbg(170, 163, 163);
}

main p{
    position: relative;
    left: 5px;
    bottom: 40px;

}

label{
    font-size: medium;
    position: relative;
    bottom: 40px;
    left: 180px;
}

input{
    width: 150px;
    height: auto;
    border-radius: 7px;
    position: relative;
    left: 300px;
    bottom: 40px;
    background-color: rgb(230, 206, 230);
}

/* inicio responsividade menu */
@media only screen and (max-width: 400px ){
    .menu {
        display: block;
    }
}
/* fim responsividade menu */

footer{
   grid-area: rodape;
   background-color: plum;
   margin: 0%;
   
}

footer li{
    list-style: none;
    position: relative;
    top: 30px;
    text-align: center;
    font-size:large;
    color: rgb(126, 106, 145);
}

.t1{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: large;
    color:gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(222, 203, 240);
    border-radius: 70px;
}

.t2{
    position: relative;
    bottom: 80px;
    left:100px ;
    font-size: large;
    color: gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius: 70px;
}

footer p{
    position: relative;
    bottom:60px;
    font-size: x-large;
    left: 90px;
    color: rgb(126, 106, 145);

}

.whats{
    width: auto;
    height: 40px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 536px;
    background-color: plum;
}

.insta{
    width: auto;
    height: 40px;
    border-radius: 7px;
    position: relative;
    top: 60px;
    left:580px;
    background-color: plum;
}
