 body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "secundaria principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }  
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }
}

header{
    grid-area: cabeca;
    color:rgba(253, 242, 242, 0.699);
    display: flex;
    background-color: plum;
}

main a{
text-decoration: none;
color:mediumpurple;
background-color: gainsboro;
border-radius: 5px;
}

.logotipo{
    position: relative;
    margin-top: 7px;
    margin-left: 8px;;
    margin-bottom: 7px;
    width: 90px;
}

p{
    position: relative;
    top: 1%;
    right: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

aside{
    grid-area: secundaria;
    background-color: bisque;
}

.menu{
    width: 40px;
    height: 40px;
}

 aside ul{
    list-style: none;
    position: absolute;
    top: 70px;
    width: 100%;
}

li{
    text-decoration: none;
}

input[ type="checkbox"]{
    display: none;
}

 aside nav{
    background-color: plum;
    width: 350px;
    height: 100%;
    left: -350px;
    position: relative;
}

 aside a{
    text-decoration: none;
    background-color: plum;
    display: block;
    padding: 20px 5px;
    color: rbg(111,129,141);
}

 aside a:hover{
    background-color: rgb(152, 152, 226);
}

label{
    padding: 15px;
    position:absolute;
    z-index: 1;
}

input[type="checkbox"]:checked ~ nav 
{
    transform: translateX(350px);
}

main{
    grid-area: principal;
    background-color: rgb(238, 230, 238);
    padding: 60px;
    margin: 4px;
}

.estojo{
    width: 500px;
    height: 450px;
    border-radius: 2px;
    background-color: rgb(158, 177, 177);
    text-align: center;
    justify-content: center;
    margin: 20px;
    align-items: center;
    padding: auto;

}

.esto{
    width: 200px;
    height: 240px;
    border-radius: 2px;
    border: rgb(155, 223, 223);
    position: relative;
    left: 23%;
}

main h3{
    color: rbg(180, 54, 100);
    background-color: beige;
    border: 5px;
    padding: 10px;
}
main nav{
    position: relative;
    left: 3%;
}

main nav a{
    text-decoration: none;
    color: rbg(180,54,100);
    border-radius: 3px;
    padding: 5px;
}

main nav a:hover{
    color: blueviolet;
    transition: 3s;
    background-color: rbg(170, 163, 163);
}

footer{
   grid-area: rodape;
    background-color: plum;
   
}

.insta{
    width: 40px;
    height: auto;
}

.whats{
    width: 40px;
    height: auto;
    border-radius: 7px;
}

footer ul{
    text-decoration: none;
    text-align: center;
}


.t2{
    position: relative;
    left: 80px;
    bottom: 40%;
    flex-direction: column;
}
p{
    position: relative;
    left: 1%;
    top: 1%;
    flex-direction: column;

}
footer p{
    position: relative;
    left: 20%;
    bottom: 20%;
}

.t1{
    text-align: center;
    position: relative;
    left: 30px;
    bottom: 40px;

}

footer li{
    text-align: center;
    justify-content: center;
    flex-direction: column;


}



