*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "secundaria principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }

}

header{
    grid-area: cabeca;
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient( to rigth, rgb(243, 145, 199), rgb(143, 193, 221), rgb(212, 214, 108) )
}

main{
    grid-area: principal;
    background-color: rgb(238, 230, 238);
    padding: 60px;
    margin: 4px;
}

/* inicio card */
.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    
}

.card{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(235, 150, 230);
    justify-content: center;
    transition: 1s;
}

.card:hover{
    background-color: rgb(156, 63, 110)
}

 .card img{
width: 280px;
border-radius: 5px;
} 

.card a{
    border-radius: 30px;
    background-color: purple;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: rgb(189, 86, 154);
    transition: 0,5s;
}

.card a:hover{
    background-color: rgb(88, 12, 63);
    color: rgb(109, 6, 100);
}
/* fim  alteraçoes card */

footer{
    grid-area: rodape;
    background-color:plum;
}

 /* .caixa{ 
    box-shadow: 2px 0px 3px 1px white;
    width: 80px;
    height: 80px;
    border-radius: 20px 0 10px 0;
    position: relative;
    margin-top: 15px;
 } */

 .elementomae{
    height: 300px;
    justify-content: space-between;
    border: 2px burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
 
/* começo alteraçoes menu */
nav{
    background-color: rgb(233, 191, 233);
    width: 350px;
    height:100% ;
    left: -350px;
    position:relative ;
}

nav a{
   text-decoration: none;
   display: block;
   color:rgb(111, 129, 141);
   background-color: rgb(233, 191, 233);
   padding: 20px 5px;
}

aside{
    grid-area: secundaria;
    background-color: bisque;
    display: flex;
} 
.menu{
    width: 40px;
    height: 40px;
    position: relative;
    top: 120px;
    right: 100px;
    padding: 5px;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}


label{
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 90px;
}

input[type="checkbox"]{
    display: none;
}

a:hover{
    background-color: rgb(152, 152, 226);

}

ul{
    position: absolute;
    top: 50x;
    width: 100%;
}

li{
    list-style: none;
    position: relative;
    text-align: center;
}

/* responsividade menu */
@media only screen and  (max-width:400px ){
    .menu{
        display: block;
    }
    
}
/* fim responsividade menu */
/* fim alteraçoes menu */

.logotipo{
    position: relative;
    margin-top: 7px;
    margin-left: 8px;;
    margin-bottom: 7px;
    width: 90px;
    border-radius: 3px;
}
/* inicio alteraçoes img card */
.pincel{ 
    width: 380px;
    height: 300px;
    padding: 20px ;
  } 
.aquarela{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 280px;
    height: 200px;
  }  
.cavalete{
    width: 260px;
    margin-top: 10px;
  }
.tintaoleo{
    width: 2600px;
    height: 200px;
    margin-top: 10px;
  }
.tela{
    width: 280px;
    height: 200px;
    margin-top: 10px;
  }
.giz{
    width: 280px;
    height: 200px;
    margin-top: 10px;
  }
.diluidor{
    height: 240px;
    width: 280px;
    margin-top: 10px;
  }

  /* fim alteraçoes de img card */
header h2{

    text-align: center;
    color:rgba(253, 242, 242, 0.699);
    font-family: cursive;
    font-size: x-large;
}

footer{
    grid-area: rodape;
    background-color: plum;
    margin: 0%;

}

.insta{
    width: 10px;
    height: auto;
}
.whats{
    width: 10px;
    height: auto;
}

.t2{
    position: relative;
    right: 0px;
}

.t1{
    text-align: center;

}

footer li{
    text-align: center;
    margin-top: 0%;
    position: relative;
    top: 1px;
}

/* botao bem vindo */
/* button{
    background-color: powderblue;
    width: 100px;
    height: 30px;
    position: relative;
    left:0;
    top:10px;
} */
/* fim botao bem vindo */
