body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "secundaria principal principal"
    "rodape rodape rodape";
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }

}
header{
    mar
    grid-area: cabeca;
    background-color: pink;
    display: flex;
    background-image: linear-gradient( to rigth, red, yellow, blue )
}
main{
    grid-area: principal;
    background-color: plum;
    padding: 60px;
    margin: 4px;
}
aside{
    grid-area: secundaria;
    background-color: bisque;

}
footer{
    grid-area: rodape;
    background-color:plum;
}
 .caixa{
    box-shadow: 2px 0px 3px 1px white;
    width: 80px;
    height: 80px;
    border-radius: 20px 0 10px 0;
    position: relative;
    margin-top: 150px;

}
.elementomae{
    height: 300px;
    justify-content: space-between;
    border: 2px burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
nav{
    border: 2px beige;
    position: absolute;
    top: 320px;
}
.logotipo{
    position: relative;
    top: 10px;
    left: 300px;
    right: 8px;;
    width: 90px;
}
.pincel{
    position: relative;
    top: 5%;
    left: 50px;
    right: 20px;
    width: 100px;
}
h4{
    text-align: left;
    border: 2px white;
    font-family: cursive;
}
h5{
    position: relative;
    left: 20PX;
    right: 2PX;
    top: 15PX;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}