body{
    background-color:white;
    display: grid;
    gap: 15px;
    grid-template-areas:  
    "cabeca cabeca cabeca"
    "secundaria principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;

 }
@media only screen and  (max-width:800px ){
   body{
    grid-template-areas: 
    "cabeca"
    "secudario"
    "principal"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto 200px auto auto auto;
    
    }

}

header{
    grid-area: cabeca;
    background-color: plum;
    display: flex;
    background-image: linear-gradient( to rigth, rgb(243, 145, 199), rgb(143, 193, 221), rgb(212, 214, 108) )
}

main{
    grid-area: principal;
    background-color: rgb(238, 230, 238);
    padding: 60px;
    margin: 4px;
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    
}

.card{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(235, 150, 230);
    justify-content: center;
    transition: 1s;
}

.card:hover{
    background-color: rgb(156, 63, 110)
}

 .card img{
width: 280px;
border-radius: 5px;
} 

.card a{
    border-radius: 30px;
    background-color: purple;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: rgb(189, 86, 154);
    transition: 0,5s;
}

.card a:hover{
    background-color: rgb(88, 12, 63);
    color: rgb(109, 6, 100);
}

aside{
    grid-area: secundaria;
    background-color: bisque;
    display: flex;
}

footer{
    grid-area: rodape;
    background-color:plum;
}

 /* .caixa{ 
    box-shadow: 2px 0px 3px 1px white;
    width: 80px;
    height: 80px;
    border-radius: 20px 0 10px 0;
    position: relative;
    margin-top: 15px;
 } */

 .elementomae{
    height: 300px;
    justify-content: space-between;
    border: 2px burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
 
header nav{
    border: 2px beige;
    position: relative;
    top: 50px;
    left: 800px;
    flex-direction: column;
    color: mediumorchid;
}

nav a{
text-decoration: none;
color:mediumpurple;
background-color: gainsboro;
border-radius: 5px;

}

.logotipo{
    position: relative;
    left: auto;
    height: auto;
    margin-right: 1px;
    
    width: 120px;
    border-radius: 3px;
}

.pincel{ 
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 380px;
    height: 300px;
  } 
  .aquarela{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 280px;
    height: 200px;
  }  
  .cavalete{
    width: 260px;
    margin-top: 10px;
  }
  .tintaoleo{
    width: 2600px;
    height: 200px;
    margin-top: 10px;
  }
  .tela{
    width: 280px;
    height: 200px;
    margin-top: 10px;
  }
  .giz{
    width: 280px;
    height: 200px;
    margin-top: 10px;
  }
  .diluidor{
    height: 240px;
    width: 280px;
    margin-top: 10px;
  }
header h2{

    text-align: center;
    color:rgba(253, 242, 242, 0.699);
    font-family: cursive;
    font-size: x-large;
}

footer h5{
    position: relative;
    left: 20PX;
    right: 25PX;
    top: 15PX;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer nav a{
    background-color: beige;
    transition: 2s;
    color: black;
    font-size: large;
}
button{
    background-color: powderblue;
    width: 120px;
    height: 40px;
    position: relative;
    left: 400px;
    top:10px;
}
